<div class="p15">
    <div class="mb05">
        <h3 class="mb05">Обтекание</h3>
        <table class="b-table b-table-hover mb1">
            <tr><td><b>.pull-left</b></td><td>float left</td></tr>
            <tr><td><b>.pull-right</b></td><td>float right</td></tr>
            <tr><td><b>.clear</b></td><td>отменить обтекание после элемента, к которому применен стиль</td></tr>
            <tr><td><b>.clearfix</b></td><td>отменить обтекание внутри контейнера, к которому применен стиль</td></tr>
        </table>
        <h3 class="mb05">Оформление текста</h3>
        <table class="b-table b-table-hover mb1">
            <tr><td><b>.text-left</b></td><td>text align left</td></tr>
            <tr><td><b>.text-center</b></td><td>text align center</td></tr>
            <tr><td><b>.text-right</b></td><td>text align right</td></tr>
            <tr><td><b>.text-middle</b></td><td>vertical align middle</td></tr>
            <tr><td><b>.text-top</b></td><td>vertical align top</td></tr>
            <tr><td><b>.text-bottom</b></td><td>vertical align bottom</td></tr>
            <tr><td><b>.nowrap</b></td><td>nowrap text</td></tr>
        </table>
        <h3 class="mb05">Внешние отступы</h3>
        <table class="b-table b-table-hover mb1">
            <tr><td><b>.m05</b></td><td>margin 0.5em</td></tr>
            <tr><td><b>.m1</b></td><td>margin 1em</td></tr>
            <tr><td><b>.m15</b></td><td>margin 1.5em</td></tr>
            <tr><td><b>.m2</b></td><td>margin 2em</td></tr>
            <tr><td><b>.m3</b></td><td>margin 3em</td></tr>
            <tr><td><b>.mt05</b></td><td>margin top 0.5em</td></tr>
            <tr><td><b>.mt1</b></td><td>margin top 1em</td></tr>
            <tr><td><b>.mt2</b></td><td>margin top 2em</td></tr>
            <tr><td><b>.mt3</b></td><td>margin top 3em</td></tr>
            <tr><td><b>.mb05</b></td><td>margin bottom 0.5em</td></tr>
            <tr><td><b>.mb1</b></td><td>margin bottom 1em</td></tr>
            <tr><td><b>.mb2</b></td><td>margin bottom 2em</td></tr>
            <tr><td><b>.mb3</b></td><td>margin bottom 3em</td></tr>
            <tr><td><b>.ml1</b></td><td>margin left 1em</td></tr>
            <tr><td><b>.ml15</b></td><td>margin left 1.5em</td></tr>
            <tr><td><b>.ml2</b></td><td>margin left 2em</td></tr>
            <tr><td><b>.ml3</b></td><td>margin left 3em</td></tr>
            <tr><td><b>.mr05</b></td><td>margin right 0.5em</td></tr>
            <tr><td><b>.mr1</b></td><td>margin right 1em</td></tr>
            <tr><td><b>.mr2</b></td><td>margin right 2em</td></tr>
            <tr><td><b>.mr3</b></td><td>margin right 3em</td></tr>
        </table>
        <h3 class="mb05">Внетренние отступы</h3>
        <table class="b-table b-table-hover mb1">
        <tr><td><b>.p1</b></td><td>padding 1em</td></tr>
            <tr><td><b>.p05</b></td><td>padding 0.5em</td></tr>
            <tr><td><b>.p1</b></td><td>padding 1em</td></tr>
            <tr><td><b>.p15</b></td><td>padding 1.5em</td></tr>
            <tr><td><b>.p2</b></td><td>padding 2em</td></tr>
            <tr><td><b>.p3</b></td><td>padding 3em</td></tr>

            <tr><td><b>.pl05</b></td><td>padding left 0.5em</td></tr>
            <tr><td><b>.pl1</b></td><td>padding left 1em</td></tr>
            <tr><td><b>.pl1.5</b></td><td>padding left 1.5em</td></tr>
            <tr><td><b>.pl2</b></td><td>padding left 2em</td></tr>
            <tr><td><b>.pl3</b></td><td>padding left 3em</td></tr>

            <tr><td><b>.pr05</b></td><td>padding right 0.5em</td></tr>
            <tr><td><b>.pr1</b></td><td>padding right 1em</td></tr>
            <tr><td><b>.pr1.5</b></td><td>padding right 1.5em</td></tr>
            <tr><td><b>.pr2</b></td><td>padding right 2em</td></tr>
            <tr><td><b>.pr3</b></td><td>padding right 3em</td></tr>

            <tr><td><b>.pt05</b></td><td>padding top 0.5em</td></tr>
            <tr><td><b>.pt1</b></td><td>padding top 1em</td></tr>
            <tr><td><b>.pt1.5</b></td><td>padding top 1.5em</td></tr>
            <tr><td><b>.pt2</b></td><td>padding top 2em</td></tr>
            <tr><td><b>.pt3</b></td><td>padding top 3em</td></tr>

            <tr><td><b>.pb05</b></td><td>padding bottom 0.5em</td></tr>
            <tr><td><b>.pb1</b></td><td>padding bottom 1em</td></tr>
            <tr><td><b>.pb1.5</b></td><td>padding bottom 1.5em</td></tr>
            <tr><td><b>.pb2</b></td><td>padding bottom 2em</td></tr>
            <tr><td><b>.pb3</b></td><td>padding bottom 3em</td></tr>
        </table>
    </div>
</div>