<div class="p15">
    <h3 class="mb05">Таблица</h3>
    <table class="b-table b-table-hover mb1">
        <tr>
            <th style="width: 14px;"></th>
            <th>Имя</th>
            <th style="width: 120px;">Телефон / SIP ID</th>
            <th>Группы</th>
        </tr>
        <tr>
            <td><ui-checkbox ng-model="checked[1]"></ui-checkbox></td>
            <td>Some Surname</td>
            <td>79175555555</td>
            <td>DEFAULT</td>
        </tr>
        <tr>
            <td><ui-checkbox ng-model="checked[2]"></ui-checkbox></td>
            <td></td>
            <td>79261042667</td>
            <td>Основной/Резервный</td>
        </tr>
        <tr>
            <td><ui-checkbox ng-model="checked[3]"></ui-checkbox></td>
            <td></td>
            <td>79261052667</td>
            <td>DEFAULT</td>
        </tr>
    </table>
    <div class="label" style="width: 100%;">
        Исходный код:
        <ui-highlight>
&lt;table class=&quot;b-table b-table-hover mb1&quot;&gt;
    &lt;tr&gt;
        &lt;th style=&quot;width: 14px;&quot;&gt;&lt;/th&gt;
        &lt;th&gt;Имя&lt;/th&gt;
        &lt;th style=&quot;width: 120px;&quot;&gt;Телефон / SIP ID&lt;/th&gt;
        &lt;th&gt;Группы&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;&lt;ui-checkbox ng-model=&quot;checked[1]&quot;&gt;&lt;/ui-checkbox&gt;&lt;/td&gt;
        &lt;td&gt;Some Surname&lt;/td&gt;
        &lt;td&gt;79175555555&lt;/td&gt;
        &lt;td&gt;DEFAULT&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;&lt;ui-checkbox ng-model=&quot;checked[2]&quot;&gt;&lt;/ui-checkbox&gt;&lt;/td&gt;
        &lt;td&gt;&lt;/td&gt;
        &lt;td&gt;79261042667&lt;/td&gt;
        &lt;td&gt;Основной/Резервный&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;&lt;ui-checkbox ng-model=&quot;checked[3]&quot;&gt;&lt;/ui-checkbox&gt;&lt;/td&gt;
        &lt;td&gt;&lt;/td&gt;
        &lt;td&gt;79261052667&lt;/td&gt;
        &lt;td&gt;DEFAULT&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;
        </ui-highlight>
    </div>
</div>