<nav ng-init="activeTab=1" class="b-tabs mb1 clearfix">
    <ul class="clearfix">
        <li><a href="javascript:" ng-click="activeTab=1" ng-class="{active: activeTab==1}">Пример 1</a></li>
        <li><a href="javascript:" ng-click="activeTab=2" ng-class="{active: activeTab==2}">Пример 2</a></li>
    </ul>
    <section ng-class="{active: activeTab==1}">
        <h3 class="mb05">Пример 1</h3>
        <div class="mb05">Статические вкладки, каждая вкладка имеет свое, статическое тело.</div>
        <ui-highlight>
&lt;nav ng-init=&quot;activeTab=1&quot; class=&quot;b-tabs mb1 clearfix&quot;&gt;
    &lt;ul class=&quot;clearfix&quot;&gt;
        &lt;li&gt;&lt;a href=&quot;javascript:&quot; ng-click=&quot;activeTab=1&quot; ng-class=&quot;{active: activeTab==1}&quot;&gt;Пример 1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;javascript:&quot; ng-click=&quot;activeTab=2&quot; ng-class=&quot;{active: activeTab==2}&quot;&gt;Пример 2&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;section ng-class=&quot;{active: activeTab==3}&quot;&gt;
        Содержимое 1
    &lt;/section&gt;
    &lt;section ng-class=&quot;{active: activeTab==3}&quot;&gt;
        Содержимое 2
    &lt;/section&gt;
&lt;/nav&gt;
        </ui-highlight>
    </section>
    <section ng-class="{active: activeTab==2}">
        <h3 class="mb05">Пример 2</h3>
        <div class="mb05">Динамические вкладки, содержимое подгружается через директиву ui-view.</div>
        <ui-highlight>
&lt;nav class=&quot;b-tabs clearfix&quot;&gt;
    &lt;ul class=&quot;clearfix&quot;&gt;
        &lt;li&gt;&lt;a ui-sref=&quot;tab1&quot; ui-sref-active=&quot;active&quot;&gt;Вкладка 1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a ui-sref=&quot;tab2&quot; ui-sref-active=&quot;active&quot;&gt;Вкладка 2&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;section ui-view class=&quot;active&quot;&gt;
    &lt;/section&gt;
&lt;/nav&gt;
        </ui-highlight>
    </section>
</nav>