<div class="p15">
    <h3 class="mb1">Стандартное модальное окно</h3>
    <div class="mb05">Внешний вид модального окна.</div>
    <div class="mb1">
        <div ng-form="categoryEdit" class="ui-modal ui-modal-demo">
            <header>
                <h3>Модальное окно</h3>
                <i ng-click="cancel()" class="icon-close"></i>
            </header>
            <section class="pl15">
                Содержимое модального окна
            </section>
            <footer class="text-right">
                <a href="#" ng-click="cancel(); $event.preventDefault();" class="dashed">Отменить</a> или
                <button ng-click="save()" ng-disabled="categoryEdit.$invalid" class="button active ml1">Сохранить</button>
            </footer>
        </div>
    </div>
    <div class="mb05">Демонстрация:</div>
    <a ui-sref="windows.demo" class="button active mb1">Нажми меня</a>
    <div class="label mb2" style="width: 100%;">
        Исходный код:
        <ui-highlight>
&lt;ui-modal&gt;
    &lt;header&gt;
        &lt;h3&gt;&#x041c;&#x043e;&#x0434;&#x0430;&#x043b;&#x044c;&#x043d;&#x043e;&#x0435; &#x043e;&#x043a;&#x043d;&#x043e;&lt;/h3&gt;
        &lt;i ng-click=&quot;cancel()&quot; class=&quot;icon-close&quot;&gt;&lt;/i&gt;
    &lt;/header&gt;
    &lt;section&gt;
        &lt;div class=&quot;m15&quot;&gt;&#x0421;&#x043e;&#x0434;&#x0435;&#x0440;&#x0436;&#x0438;&#x043c;&#x043e;&#x0435; &#x043c;&#x043e;&#x0434;&#x0430;&#x043b;&#x044c;&#x043d;&#x043e;&#x0433;&#x043e; &#x043e;&#x043a;&#x043d;&#x0430;&lt;/div&gt;
    &lt;/section&gt;
    &lt;footer class=&quot;text-right&quot;&gt;
        &lt;a href=&quot;#&quot; ng-click=&quot;cancel(); $event.preventDefault();&quot; class=&quot;dashed&quot;&gt;&#x041e;&#x0442;&#x043c;&#x0435;&#x043d;&#x0438;&#x0442;&#x044c;&lt;/a&gt; &#x0438;&#x043b;&#x0438;
        &lt;button ng-click=&quot;save()&quot; ng-disabled=&quot;categoryEdit.$invalid&quot; class=&quot;button active ml1&quot;&gt;&#x0421;&#x043e;&#x0445;&#x0440;&#x0430;&#x043d;&#x0438;&#x0442;&#x044c;&lt;/button&gt;
    &lt;/footer&gt;
&lt;/ui-modal&gt;
        </ui-highlight>
    </div>
    <h3 class="mb1">Модальное окно подтверждения действия</h3>
    <button class="button active mb1" ui-confirm="{title: 'Удалить', content: 'Вы действительно хотите удалить обьект?', onSuccess: delete}">Нажми меня</button>
    <div class="label mb2" style="width: 100%;">
        Исходный код:
        <ui-highlight>
&lt;button class=&quot;button active mb1&quot; ui-confirm=&quot;{title: '&#x0423;&#x0434;&#x0430;&#x043b;&#x0438;&#x0442;&#x044c;', content: '&#x0412;&#x044b; &#x0434;&#x0435;&#x0439;&#x0441;&#x0442;&#x0432;&#x0438;&#x0442;&#x0435;&#x043b;&#x044c;&#x043d;&#x043e; &#x0445;&#x043e;&#x0442;&#x0438;&#x0442;&#x0435; &#x0443;&#x0434;&#x0430;&#x043b;&#x0438;&#x0442;&#x044c; &#x043e;&#x0431;&#x044c;&#x0435;&#x043a;&#x0442;?', onSuccess: delete}&quot;&gt;&#x041d;&#x0430;&#x0436;&#x043c;&#x0438; &#x043c;&#x0435;&#x043d;&#x044f;&lt;/button&gt;
        </ui-highlight>
    </div>
</div>
<ui-view></ui-view>